USE [master]
GO
/****** Object:  Database [db_bethuelmultitrade]    Script Date: 3/24/2018 11:51:41 AM ******/
CREATE DATABASE [db_bethuelmultitrade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bethuelmultitrade', FILENAME = N'E:\MSSQL.MSSQLSERVER\DATA\db_bethuelmultitrade.mdf' , SIZE = 4096KB , MAXSIZE = 204800KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_bethuelmultitrade_log', FILENAME = N'D:\MSSQL.MSSQLSERVER\DATA\db_bethuelmultitrade_log.ldf' , SIZE = 1024KB , MAXSIZE = 102400KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bethuelmultitrade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bethuelmultitrade]
GO
/****** Object:  User [sa_bethuelmultitrade]    Script Date: 3/24/2018 11:51:42 AM ******/
CREATE USER [sa_bethuelmultitrade] FOR LOGIN [sa_bethuelmultitrade] WITH DEFAULT_SCHEMA=[sa_bethuelmultitrade]
GO
/****** Object:  DatabaseRole [gd_execprocs]    Script Date: 3/24/2018 11:51:43 AM ******/
CREATE ROLE [gd_execprocs]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [sa_bethuelmultitrade]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sa_bethuelmultitrade]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [sa_bethuelmultitrade]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sa_bethuelmultitrade]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sa_bethuelmultitrade]
GO
/****** Object:  Schema [sa_bethuelmultitrade]    Script Date: 3/24/2018 11:51:44 AM ******/
CREATE SCHEMA [sa_bethuelmultitrade]
GO
/****** Object:  StoredProcedure [dbo].[CountPlacementSide]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CountPlacementSide](@USERSDETAILSID INTEGER) as
BEGIN
with cte as (
       select
               UsersDetailsId, LegId, placementside,
               null lnode,
               null rnode
       from PersonalDetails where UsersDetailsId = @USERSDETAILSID
       union all
       select
               t.usersdetailsid, t.sponsoredid, t.placementside,
               ISNULL(cte.lnode, CASE WHEN t.placementside = 'LEFT' THEN 1 ELSE 0 END) lnode,
               ISNULL(cte.rnode, CASE WHEN t.placementside = 'RIGHT' THEN 1 ELSE 0 END) rnode
       from PersonalDetails t
       inner join cte
               on cte.UsersDetailsId = t.LegId
)
select  SUM(lnode)LeftNodes,SUM(rnode)RightNodes from cte option (maxrecursion 0)

END
GO
/****** Object:  StoredProcedure [dbo].[GetLastLeftPlacementSideRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetLastLeftPlacementSideRecords](@USERSDETAILSID INTEGER) as
BEGIN
DECLARE @UserId int;
with cte as (
       select
               UsersDetailsId, LegId, placementside,sponsoredid,id
               
       from PersonalDetails where UsersDetailsId = @USERSDETAILSID
       union all
       select
               t.usersdetailsid, t.sponsoredid, t.placementside, t.sponsoredid,t.id
               
       from PersonalDetails t 
       inner join cte
               on cte.UsersDetailsId = t.LegId where t.placementside = 'LEFT'
)
SELECT @UserId = (select  top 1 usersdetailsid from cte where usersdetailsid <>@USERSDETAILSID  order by id desc) option (maxrecursion 0)

IF @@ROWCOUNT > 0
		select @UserId;
ELSE
		select @USERSDETAILSID;


END
GO
/****** Object:  StoredProcedure [dbo].[GetLastRightPlacementSideRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetLastRightPlacementSideRecords](@USERSDETAILSID INTEGER) as
BEGIN
DECLARE @UserId int;
with cte as (
       select
               UsersDetailsId, LegId, placementside,sponsoredid,id
               
       from PersonalDetails where UsersDetailsId = @USERSDETAILSID
       union all
       select
               t.usersdetailsid, t.sponsoredid, t.placementside, t.sponsoredid,t.id
               
       from PersonalDetails t 
       inner join cte
               on cte.UsersDetailsId = t.LegId where t.placementside = 'RIGHT'
)
SELECT @UserId = (select  top 1 usersdetailsid from cte where usersdetailsid <>@USERSDETAILSID  order by id desc) option (maxrecursion 0)

IF @@ROWCOUNT > 0
		select @UserId;
ELSE
		select @USERSDETAILSID;


END
GO
/****** Object:  StoredProcedure [dbo].[GetLeftPlacementSideRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetLeftPlacementSideRecords](@USERSDETAILSID INTEGER) as
BEGIN
with cte as (
       select
               UsersDetailsId, LegId, placementside,sponsoredid
               
       from PersonalDetails where UsersDetailsId = 7
       union all
       select
               t.usersdetailsid, t.sponsoredid, t.placementside, t.sponsoredid
               
       from PersonalDetails t 
       inner join cte
               on cte.UsersDetailsId = t.LegId where t.placementside = 'RIGHT'
)
select  * from cte where usersdetailsid <>7 option (maxrecursion 0)

END
GO
/****** Object:  StoredProcedure [dbo].[GetLeftSidePlacementRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetLeftSidePlacementRecords](@LEFTLEGUSERSDETAILSID INTEGER,@USERSDETAILSID INTEGER ) as
BEGIN
with cte as (
       select id,
               UsersDetailsId, LegId, placementside,FirstName,Lastname, Joinedon, phonenumber1,sponsoredid
               
       from PersonalDetails where UsersDetailsId = @LEFTLEGUSERSDETAILSID
       union all
       select
              t.id, t.usersdetailsid, t.legid, t.placementside,t.FirstName,t.Lastname, t.Joinedon, t.phonenumber1, t.sponsoredid
               
       from PersonalDetails t
       inner join cte
               on cte.UsersDetailsId = t.LegId
)
select  id from cte where usersdetailsid <> @USERSDETAILSID option (maxrecursion 0)

END
GO
/****** Object:  StoredProcedure [dbo].[GetPlacementSideRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetPlacementSideRecords](@USERSDETAILSID INTEGER) as
BEGIN
with cte as (
       select id,
               UsersDetailsId, LegId, placementside,FirstName,Lastname, Joinedon, phonenumber1,sponsoredid
               
       from PersonalDetails where UsersDetailsId = @USERSDETAILSID
       union all
       select
              t.id, t.usersdetailsid, t.legid, t.placementside,t.FirstName,t.Lastname, t.Joinedon, t.phonenumber1, t.sponsoredid
               
       from PersonalDetails t
       inner join cte
               on cte.UsersDetailsId = t.LegId
)
select  id from cte where usersdetailsid <> @USERSDETAILSID option (maxrecursion 0)

END
GO
/****** Object:  StoredProcedure [dbo].[GetRightSidePlacementRecords]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetRightSidePlacementRecords](@RIGHTLEGUSERSDETAILSID INTEGER,@USERSDETAILSID INTEGER ) as
BEGIN
with cte as (
       select id,
               UsersDetailsId, LegId, placementside,FirstName,Lastname, Joinedon, phonenumber1,sponsoredid
               
       from PersonalDetails where UsersDetailsId = @RIGHTLEGUSERSDETAILSID
       union all
       select
              t.id, t.usersdetailsid, t.legid, t.placementside,t.FirstName,t.Lastname, t.Joinedon, t.phonenumber1, t.sponsoredid
               
       from PersonalDetails t
       inner join cte
               on cte.UsersDetailsId = t.LegId
)
select  id from cte where usersdetailsid <> @USERSDETAILSID option (maxrecursion 0)

END
GO
/****** Object:  Table [dbo].[AchieverDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AchieverDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
	[AchieverImage] [varchar](100) NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_AchieverDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BankDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BankDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomineeName] [varchar](50) NULL,
	[NomineeRelation] [varchar](50) NULL,
	[BankName] [varchar](100) NULL,
	[AccountHolderName] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[IFSCCode] [varchar](50) NULL,
	[PANNumber] [varchar](50) NULL,
	[TransactionPassword] [varchar](50) NULL,
	[UsersDetailsId] [int] NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_BankDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContributionDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContributionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContribNumber] [int] NULL,
	[ContribDate] [datetime] NULL,
	[ContribAmount] [int] NULL,
	[NextContribNumber] [int] NULL,
	[NextContribDate] [datetime] NULL,
	[RemainingContrib] [int] NULL,
	[UserDetailsId] [int] NULL,
	[SponsoredId] [int] NULL,
	[PayedBy] [varchar](50) NULL,
	[IsCompleted] [int] NULL,
 CONSTRAINT [PK_ContributionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GalleryDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GalleryDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pic] [varchar](50) NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GalleryDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberRewardDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MemberRewardDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeftTeamCount] [int] NULL,
	[RightTeamCount] [int] NULL,
	[Pairs] [int] NULL,
	[Status] [varchar](100) NULL,
	[PaidStatus] [varchar](100) NULL,
	[PaidDate] [datetime] NULL,
	[PaidRemarks] [varchar](500) NULL,
	[UserDetailsId] [int] NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_MemberRewardDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PersonalDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PersonalDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfilePic] [varchar](100) NULL,
	[SponsoredId] [int] NULL,
	[JoinedOn] [varchar](50) NULL,
	[LegId] [int] NULL,
	[PlacementSide] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[BirthDate] [varchar](50) NULL,
	[PhoneNumber1] [varchar](50) NULL,
	[PhoneNumber2] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](1000) NULL,
	[State] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[PinCode] [varchar](10) NULL,
	[UsersDetailsId] [int] NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_PersonalDetails_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RenewalPinDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalPinDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SponsoredId] [int] NULL,
	[RecipientId] [int] NULL,
	[IsPinUsed] [int] NULL,
	[PinCreatedOn] [datetime] NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK_RenewalPinDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RewardDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RewardDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](500) NULL,
	[Recognition] [varchar](100) NULL,
	[Pairs] [int] NULL,
	[Level] [varchar](100) NULL,
	[ItemCost] [varchar](50) NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_RewardDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersDetails]    Script Date: 3/24/2018 11:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsersDetails](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Password] [varchar](100) NULL,
	[SponsoredId] [int] NULL,
	[PinType] [varchar](50) NULL,
	[IsPinUsed] [int] NULL,
	[PinCreatedOn] [datetime] NULL,
	[Deleted] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[UserName]  AS ('B'+right('00000'+CONVERT([varchar](6),[Id],(0)),(6))) PERSISTED,
	[SrNo] [int] NULL,
 CONSTRAINT [PK_UsersDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AchieverDetails] ON 

INSERT [dbo].[AchieverDetails] ([Id], [Month], [Year], [AchieverImage], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (4, N'3', N'2018', N'/AchieverImages/f6314Koala.jpg', 0, CAST(0x0000A8B200000000 AS DateTime), NULL)
INSERT [dbo].[AchieverDetails] ([Id], [Month], [Year], [AchieverImage], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (5, N'7', N'2018', N'/AchieverImages/63843Desert.jpg', 0, CAST(0x0000A91C00000000 AS DateTime), NULL)
INSERT [dbo].[AchieverDetails] ([Id], [Month], [Year], [AchieverImage], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (6, N'3', N'2018', N'/AchieverImages/cb141Tulips.jpg', 0, CAST(0x0000A8AD00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AchieverDetails] OFF
SET IDENTITY_INSERT [dbo].[BankDetails] ON 

INSERT [dbo].[BankDetails] ([Id], [NomineeName], [NomineeRelation], [BankName], [AccountHolderName], [AccountNumber], [IFSCCode], [PANNumber], [TransactionPassword], [UsersDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'7cb418', 2, 0, CAST(0x0000A89900DD7985 AS DateTime), NULL)
INSERT [dbo].[BankDetails] ([Id], [NomineeName], [NomineeRelation], [BankName], [AccountHolderName], [AccountNumber], [IFSCCode], [PANNumber], [TransactionPassword], [UsersDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'2f3069', 4, 0, CAST(0x0000A89900E0B5C7 AS DateTime), NULL)
INSERT [dbo].[BankDetails] ([Id], [NomineeName], [NomineeRelation], [BankName], [AccountHolderName], [AccountNumber], [IFSCCode], [PANNumber], [TransactionPassword], [UsersDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'981158', 5, 0, CAST(0x0000A89900E0F683 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[BankDetails] OFF
SET IDENTITY_INSERT [dbo].[ContributionDetails] ON 

INSERT [dbo].[ContributionDetails] ([Id], [ContribNumber], [ContribDate], [ContribAmount], [NextContribNumber], [NextContribDate], [RemainingContrib], [UserDetailsId], [SponsoredId], [PayedBy], [IsCompleted]) VALUES (1, 1, CAST(0x0000A89900DD798E AS DateTime), 1000, 2, CAST(0x0000A8C800000000 AS DateTime), 14, 2, 1, N'ADMIN', 0)
INSERT [dbo].[ContributionDetails] ([Id], [ContribNumber], [ContribDate], [ContribAmount], [NextContribNumber], [NextContribDate], [RemainingContrib], [UserDetailsId], [SponsoredId], [PayedBy], [IsCompleted]) VALUES (2, 1, CAST(0x0000A89900E0B5CC AS DateTime), 1000, 2, CAST(0x0000A8C800000000 AS DateTime), 14, 4, 1, N'ADMIN', 0)
INSERT [dbo].[ContributionDetails] ([Id], [ContribNumber], [ContribDate], [ContribAmount], [NextContribNumber], [NextContribDate], [RemainingContrib], [UserDetailsId], [SponsoredId], [PayedBy], [IsCompleted]) VALUES (3, 1, CAST(0x0000A89900E0F688 AS DateTime), 1000, 2, CAST(0x0000A8C800000000 AS DateTime), 14, 5, 1, N'ADMIN', 0)
GO
SET IDENTITY_INSERT [dbo].[ContributionDetails] OFF
SET IDENTITY_INSERT [dbo].[GalleryDetails] ON 

INSERT [dbo].[GalleryDetails] ([Id], [Pic], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (2, N'/GalleryImages/9a184Hydrangeas.jpg', 0, CAST(0x0000A8A70131BD89 AS DateTime), NULL)
INSERT [dbo].[GalleryDetails] ([Id], [Pic], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (3, N'/GalleryImages/59ed0Penguins.jpg', 0, CAST(0x0000A8A70131C2D2 AS DateTime), NULL)
INSERT [dbo].[GalleryDetails] ([Id], [Pic], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (4, N'/GalleryImages/f9d2dLighthouse.jpg', 0, CAST(0x0000A8A70131CB8C AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GalleryDetails] OFF
SET IDENTITY_INSERT [dbo].[MemberRewardDetails] ON 

INSERT [dbo].[MemberRewardDetails] ([Id], [LeftTeamCount], [RightTeamCount], [Pairs], [Status], [PaidStatus], [PaidDate], [PaidRemarks], [UserDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (10, 47, 74, 38, N'Achieved', N'Paid', CAST(0x0000A89A00000000 AS DateTime), N'ggg', 7, NULL, NULL, NULL)
INSERT [dbo].[MemberRewardDetails] ([Id], [LeftTeamCount], [RightTeamCount], [Pairs], [Status], [PaidStatus], [PaidDate], [PaidRemarks], [UserDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (11, 47, 74, 16, N'Achieved', N'Paid', CAST(0x0000A89800000000 AS DateTime), N'finished', 7, NULL, NULL, NULL)
INSERT [dbo].[MemberRewardDetails] ([Id], [LeftTeamCount], [RightTeamCount], [Pairs], [Status], [PaidStatus], [PaidDate], [PaidRemarks], [UserDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (12, 47, 74, 2, N'Achieved', N'Paid', CAST(0x0000A8AB00000000 AS DateTime), N'dddd', 7, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MemberRewardDetails] OFF
SET IDENTITY_INSERT [dbo].[PersonalDetails] ON 

INSERT [dbo].[PersonalDetails] ([Id], [ProfilePic], [SponsoredId], [JoinedOn], [LegId], [PlacementSide], [Gender], [FirstName], [LastName], [FatherName], [BirthDate], [PhoneNumber1], [PhoneNumber2], [Email], [Address], [State], [District], [City], [PinCode], [UsersDetailsId], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (2, N'/UploadedTeamImages/default1_avatar_small.png', 1, N'3/4/2018 1:26:21 PM', 1, N'LEFT', N'Male', N'Company', N'One', N'Ones Parent', NULL, N'919914439178', NULL, NULL, N'111', NULL, NULL, NULL, NULL, 2, 0, CAST(0x0000A89900DD7902 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[PersonalDetails] OFF
SET IDENTITY_INSERT [dbo].[RenewalPinDetails] ON 

INSERT [dbo].[RenewalPinDetails] ([Id], [SponsoredId], [RecipientId], [IsPinUsed], [PinCreatedOn], [Deleted]) VALUES (12, 7, NULL, 1, CAST(0x0000A89900E13636 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RenewalPinDetails] OFF
SET IDENTITY_INSERT [dbo].[RewardDetails] ON 

INSERT [dbo].[RewardDetails] ([Id], [ItemName], [Recognition], [Pairs], [Level], [ItemCost], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (1, N'Dinner Set', N'image', 2, N'Star', N'1500', 0, CAST(0x0000A89D002CE5F4 AS DateTime), CAST(0x0000A89D002CE5F4 AS DateTime))
INSERT [dbo].[RewardDetails] ([Id], [ItemName], [Recognition], [Pairs], [Level], [ItemCost], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (2, N'R.O. or Mobile 4G', N'image', 16, N'Silver Star', N'5,000', 0, CAST(0x0000A89D002CE5F4 AS DateTime), CAST(0x0000A89D002CE5F4 AS DateTime))
INSERT [dbo].[RewardDetails] ([Id], [ItemName], [Recognition], [Pairs], [Level], [ItemCost], [Deleted], [CreatedOn], [UpdatedOn]) VALUES (3, N'CT 100 Bike +5 Pins', N'image', 38, N'Gold Star', N'27,000', 0, CAST(0x0000A89D002CE5F4 AS DateTime), CAST(0x0000A89D002CE5F4 AS DateTime))
SET IDENTITY_INSERT [dbo].[RewardDetails] OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[UsersDetails] ON 

INSERT [dbo].[UsersDetails] ([Id], [Password], [SponsoredId], [PinType], [IsPinUsed], [PinCreatedOn], [Deleted], [CreatedOn], [UpdatedOn], [SrNo]) VALUES (0, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[UsersDetails] ([Id], [Password], [SponsoredId], [PinType], [IsPinUsed], [PinCreatedOn], [Deleted], [CreatedOn], [UpdatedOn], [SrNo]) VALUES (1, N'iqbal1982', 0, NULL, NULL, NULL, -1, NULL, CAST(0x0000A8A50171A2C3 AS DateTime), NULL)
INSERT [dbo].[UsersDetails] ([Id], [Password], [SponsoredId], [PinType], [IsPinUsed], [PinCreatedOn], [Deleted], [CreatedOn], [UpdatedOn], [SrNo]) VALUES (2, N'2fcada', 1, NULL, 1, NULL, 0, CAST(0x0000A89900DD755D AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UsersDetails] OFF
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[BankDetails]  WITH CHECK ADD  CONSTRAINT [FK_BankDetails_UsersDetails] FOREIGN KEY([UsersDetailsId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[BankDetails] CHECK CONSTRAINT [FK_BankDetails_UsersDetails]
GO
ALTER TABLE [dbo].[ContributionDetails]  WITH CHECK ADD  CONSTRAINT [FK_ContributionDetails_UsersDetails] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[ContributionDetails] CHECK CONSTRAINT [FK_ContributionDetails_UsersDetails]
GO
ALTER TABLE [dbo].[MemberRewardDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberRewardDetails_UsersDetails] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[MemberRewardDetails] CHECK CONSTRAINT [FK_MemberRewardDetails_UsersDetails]
GO
ALTER TABLE [dbo].[PersonalDetails]  WITH CHECK ADD  CONSTRAINT [FK_PersonalDetails_UsersDetails] FOREIGN KEY([UsersDetailsId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[PersonalDetails] CHECK CONSTRAINT [FK_PersonalDetails_UsersDetails]
GO
ALTER TABLE [dbo].[RenewalPinDetails]  WITH CHECK ADD  CONSTRAINT [FK_RenewalPinDetails_RenewalPinDetails] FOREIGN KEY([SponsoredId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[RenewalPinDetails] CHECK CONSTRAINT [FK_RenewalPinDetails_RenewalPinDetails]
GO
ALTER TABLE [dbo].[RenewalPinDetails]  WITH CHECK ADD  CONSTRAINT [FK_RenewalPinDetails_UsersDetails] FOREIGN KEY([RecipientId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[RenewalPinDetails] CHECK CONSTRAINT [FK_RenewalPinDetails_UsersDetails]
GO
ALTER TABLE [dbo].[UsersDetails]  WITH CHECK ADD  CONSTRAINT [FK_UsersDetails_UsersDetails] FOREIGN KEY([SponsoredId])
REFERENCES [dbo].[UsersDetails] ([Id])
GO
ALTER TABLE [dbo].[UsersDetails] CHECK CONSTRAINT [FK_UsersDetails_UsersDetails]
GO
USE [master]
GO
