<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bethuelmultitrade Pvt. Ltd.</title>

    <link type="image/png" href="~/Content/EndUser/images/parallax/fav.png" rel="shortcut icon">

    <link type="text/css" href="~/Content/EndUser/css/login.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/EndUser/asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="~/Content/EndUser/css/font-awesome.min.css" rel="stylesheet">


    <!-- Animate CSS -->
    <link href="~/Content/EndUser/css/animate.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="~/Content/EndUser/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/EndUser/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/EndUser/css/owl.transitions.css">

    <!-- Custom CSS -->
    <link href="~/Content/EndUser/css/style.css" rel="stylesheet">
    <link href="~/Content/EndUser/css/responsive.css" rel="stylesheet">

    <!-- Colors CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/green.css">



    <!-- Colors CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/green.css" title="green">
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/light-red.css" title="light-red">
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/blue.css" title="blue">
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/light-blue.css" title="light-blue">
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/yellow.css" title="yellow">
    <link rel="stylesheet" type="text/css" href="~/Content/EndUser/css/color/light-green.css" title="light-green">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


    <!-- Modernizer js -->
    <script src="~/Content/EndUser/js/login.js"></script>
    <script src="~/Content/EndUser/js/modernizr.custom.js"></script>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="index">


    <!-- Styleswitcher
    ================================================== -->
    <div class="colors-switcher">
        <a id="show-panel" class="hide-panel"><i class="fa fa-tint"></i></a>
        <ul class="colors-list">
            <li><a title="Light Red" onClick="setActiveStyleSheet('light-red'); return false;" class="light-red"></a></li>
            <li><a title="Blue" class="blue" onClick="setActiveStyleSheet('blue'); return false;"></a></li>
            <li class="no-margin"><a title="Light Blue" onClick="setActiveStyleSheet('light-blue'); return false;" class="light-blue"></a></li>
            <li><a title="Green" class="green" onClick="setActiveStyleSheet('green'); return false;"></a></li>

            <li class="no-margin"><a title="light-green" class="light-green" onClick="setActiveStyleSheet('light-green'); return false;"></a></li>
            <li><a title="Yellow" class="yellow" onClick="setActiveStyleSheet('yellow'); return false;"></a></li>

        </ul>

    </div>
    <!-- Styleswitcher End
    ================================================== -->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Bethuel</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/gallery">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Legal</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/achievers">Achievers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/plan">Business Plan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    @RenderBody()



    


    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>



    <!-- jQuery Version 2.1.1 -->
    <script src="~/Content/EndUser/js/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/EndUser/asset/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/EndUser/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/EndUser/js/classie.js"></script>
    <script src="~/Content/EndUser/js/count-to.js"></script>
    <script src="~/Content/EndUser/js/jquery.appear.js"></script>
    <script src="~/Content/EndUser/js/cbpAnimatedHeader.js"></script>
    <script src="~/Content/EndUser/js/owl.carousel.min.js"></script>
    <script src="~/Content/EndUser/js/jquery.fitvids.js"></script>
    <script src="~/Content/EndUser/js/styleswitcher.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/Content/EndUser/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/EndUser/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/EndUser/js/script.js"></script>

    <script type="text/javascript">
	
	document.getElementById('loginpassword').addEventListener('keypress', function (event) {
            if (event.keyCode == 13) {

                var loginusername = $('#loginusername').val();
                var loginpassword = $('#loginpassword').val();

                $.ajax({
                    url: '/Home/Login',
                    data: { 'Username': loginusername, 'Password': loginpassword },
                    type: "post",
                    success: function (response) {
                        response = response.replace(/\"/g, "")
                        if (response != "Success") {
                            $("#loginptag").text(response);
                        }
                        else {
                            window.location.href = "/Dashboard/Index";
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#loginptag').text("Error while login.");
                    }
                });
            }
        });

    document.getElementById('forgetmobilenumber').addEventListener('keypress', function (event) {
            if (event.keyCode == 13) {
                var forgetusername = $('#forgetusername').val();
                var forgetmobilenumber = $('#forgetmobilenumber').val();

                $.ajax({
                    url: '/Home/ForgotPassword',
                    data: { 'username': forgetusername, 'mobilenumber': forgetmobilenumber },
                    type: "post",
                    success: function (response) {
                        response = response.replace(/\"/g, "")
                        $("#forgetptag").text(response);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#forgetptag').text("Error while recover password.");
                    }
                });
            }
        });

    document.getElementById('loginsubmit').addEventListener('click', function (event) {
            debugger;
            var loginusername = $('#loginusername').val();
            var loginpassword = $('#loginpassword').val();

            $.ajax({
                url: '/Home/Login',
                data: { 'Username': loginusername, 'Password': loginpassword },
                type: "post",
                success: function (response) {
                    response = response.replace(/\"/g, "")
                    if (response != "Success") {
                        $("#loginptag").text(response);
                    }
                    else {
                        window.location.href = "/Dashboard/Index";
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loginptag').text("Error while login.");
                }
            });
        });

    document.getElementById('forgetpasswordsubmit').addEventListener('click',function (event) {
        var forgetusername = $('#forgetusername').val();
        var forgetmobilenumber = $('#forgetmobilenumber').val();

        $.ajax({
            url: '/Home/ForgotPassword',
            data: { 'username': forgetusername, 'mobilenumber': forgetmobilenumber },
            type: "post",
            success: function (response) {
                response = response.replace(/\"/g, "")
                $("#forgetptag").text(response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#forgetptag').text("Error while recover password.");
            }
        });
    })

		
        $(function () {
            $("#submit").click(function () {
                document.forms[0].submit();
                return false;
            });

         
            $('#openForgetForm').click(function () {
                $("#loginform").css('display', 'none');
                $('#forgetform').css('display', 'block');
            })

            $('#openLoginForm').click(function () {
                $("#forgetform").css('display', 'none');
                $('#loginform').css('display', 'block');
            })

            $('#btnSendMessage').click(function () {
                var name = $('#name').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var message = $('#message').val();

                var errorArray = [];

                if(!(name.length > 0))
                {
                    $("#nameRequired").text("Please enter your name.");
                    errorArray.push(1);
                }
                else
                {
                    $("#nameRequired").text("");
                    errorArray.push(0);
                }


                if (!(email.length > 0)) {
                    $("#emailRequired").text("Please enter your email.");
                    errorArray.push(1);
                }
                else {
                    $("#emailRequired").text("");
                    errorArray.push(0);
                }


                if (!(phone.length > 0)) {
                    $("#phoneRequired").text("Please enter your phone.");
                    errorArray.push(1);
                }
                else {
                    $("#phoneRequired").text("");
                    errorArray.push(0);
                }


                if (!(message.length > 0)) {
                    $("#messageRequired").text("Please enter your message.");
                    errorArray.push(1);
                }
                else {
                    $("#messageRequired").text("");
                    errorArray.push(0);
                }

                if(errorArray.indexOf(1) != -1)
                {
                    return false;
                }
                
                $.ajax({
                    url: '/Home/ContactUs',
                    data: { 'name': name, 'email': email, 'phone': phone, 'message': message },
                    type: "post",
                    success: function (response) {
                        if (response == "success") {
                            $('#success').html("<div class='alert alert-success'>");
                            $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                .append("</button>");
                            $('#success > .alert-success')
                                .append("<strong>Your message has been sent. </strong>");
                            $('#success > .alert-success')
                                .append('</div>');
                            $('#contactForm').trigger("reset");
                        }
                        else
                        {
                                $('#success').html("<div class='alert alert-danger'>");
                                $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                    .append("</button>");
                                $('#success > .alert-danger').append("<strong>"+ response + "</strong>");
                                $('#success > .alert-danger').append('</div>');
                                $('#contactForm').trigger("reset");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#success').html("<div class='alert alert-danger'>");
                        $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                            .append("</button>");
                        $('#success > .alert-danger').append("<strong>" + xhr.responseText + "</strong>");
                        $('#success > .alert-danger').append('</div>');
                        $('#contactForm').trigger("reset");
                    }
                });
            })
    
        });
    </script>
</body>

</html>
