@model  IEnumerable<ValleyDreamsIndia.GalleryDetail>

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div id="contentHeader">
    <h1>Manage Achiever Details</h1>
</div> <!-- #contentHeader -->


    <div class="container">
        <div class="grid-12">
            <div class="widget widget-table">
@using (Html.BeginForm("Gallery", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                <div class="widget-header">
                    <span class="icon-list"></span>
                    <h3 class="icon chart">Required Info</h3>
                </div>

                <div class="widget-content">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="vertical-align:middle;">
                                    Gallery Image
                                </th>
                                <th style="vertical-align:middle;">
                                    <div class="widget-content">
                                        <div class="field-group inlineField">
                                            <label for="myfile">Upload Image:</label>
                                            <div class="uploader">
                                                <input type="file" name="galleryImage" id="myfile" required />
                                                <span class="filename" style="-moz-user-select: none;">No file selected</span>
                                                <span class="action" style="-moz-user-select: none;">Choose File</span>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div> <!-- .widget-content -->

            

                <p align="center" style="margin-top:30px;">
                <span>  <input type="submit" class="btn btn-large btn-blue" value="Submit" />        </span>

                <span style="margin-left:10px;">  <button class="btn btn-large btn-gray">Cancel</button></span>

                <br />
                @ViewBag.Message
            </p>

        }
            </div>
        </div>
    
        <div class="grid-24">
            <div class="widget widget-table">

                <div class="widget-header">
                    <span class="icon-list"></span>
                    <h3 class="icon chart">Geneology</h3>
                </div>

                <div class="widget-content">

                    <table class="table table-bordered table-striped data-table">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var i = 1;
                                foreach (var item in Model)
                                {
                                        <tr class="gradeA">
                                            <td>@i</td>
                                            <td>
                                            <img src="@item.Pic"
                                            alt="Profile Pic" style="width:50px;height:50px" />
                                            </td>
                                            <td>@Html.ActionLink("Delete", "DeleteGallery", new { galleryId=item.Id})</td>
                                        </tr>
                                        i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div> <!-- .widget-content -->

            </div> <!-- .widget-content -->

        </div>
    
    </div>

    


