@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="contentHeader">
    <h1>Pins Status </h1>
</div> <!-- #contentHeader -->

<div class="container">


    <div class="grid-17">

        <div class="widget widget-plain">

            @ViewBag.Message
             <!-- .widget-content -->

        </div> <!-- .widget -->


    </div>



</div> <!-- .container -->
